*{
    padding: 0;
    margin: 0;
}

.whole_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    background-color: white;
    text-align: center;
    padding: 20px;
    width: fit-content;
    border: 2px black solid;
    border-radius: 6px;
    box-shadow: 10px 20px 30px black;
}

.container_result{
    margin: 10px;
}

.increment_btn{
    background-color: green;
    color: black;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.reset_btn{
    background-color: gold;
    color: black;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}